In [ ]:
# mkdir proj
# cd proj
# git clone https://github.com/silenc3502/PythonWorkshop
# 위의 4개 줄은 초기 설정시에만 필요함

# 이후에 변경 사항 및 추가된 업데이트를 적용할 때
# cd c:\proj\PythonWorkshop
# git pull origin master

# 만약 자신의 컴퓨터에서 직접 jupyter를 띄워서 이것을 보겠다면
# cd c:\proj\PythonWorkshop
# jupyter notebook
# 위와 같이하면 first.ipynb, second.ipynb 등등을 모두 직접 볼 수 있다.

# cd
# 리눅스의 pwd와 동일한 역할을 수행한다.
# (현재 위치가 어디인지 알려준다.)


#git commit -am "dfjdfkdfkdjfk"

# 나만의 git 저장소를 가져보도록 하자!
# 1. Github에 접속한다.
# 2. 로그인하고 접속하면 Repositories에 New가 있고 이것을 누른다.
# 3. 맨 위쪽에 Repository Name과 Description을 작성한다.
# 4. 아래쪽의 .gitignore를 설정해주고 라이센스를 선택한다.
#    회사에서 라이센스 선택시 회의가 필요하므로 이런 작업을 할 일이 있다면
#    반드시 먼저 상사에게 보고를 하고 진행하도록 한다.
# 5. Create Repository를 눌러서 저장소를 생성한다.
# 6. 초록색 버튼 Code에 보면 Clone이 있다.
#    해당 URL을 전부 복사한다.
# 7. 먼저 저장소의 기본 위치를 선택한다.
#    cd ~
#    cd proj
#    홈 디렉토리 밑에 proj에 진입하게 된다.
# 8. git clone '가져오고 싶은 저장소 이름'
#    (홑 따옴표 필요 없음)
# 9. 작업할 저장소로 위치를 이동한다.
# 10. 해당 위치에서 jupyter notebook을 입력한다.
# 11. 그러면 웹 브라우저에 쥬피터가 실행될 것이고
#     여기서 기존에 파이썬 작업을 하듯이 파일을 작성하면 된다.
# 12. git status - 현재 추적되지 않고 있는 파일을 볼 수 있다.
# 13. 추적이 되지 않으므로 해당 파일을 추적하고 싶다면
#     git add를 통해 파일을 추적할 수 있게 만들어준다.
#     정말 잘 추적이 되는지 확인하기 위해
#     github에 있는 저장소 원본으로 이동해서 추적되지 않음을 확인한다.
#     git add '추적할 파일명 혹은 디렉토리 전체도 가능'
# 14. git status를 입력하면 추적이 됨을 알리는 초록색 파일로 나타난다.
#     그리고 commit 하라는 메시지가 같이 올라온다.
# 15. git push origin master
#     커밋된 내용을 모두 master(원격 저장소:원본)에 갱신한다.
# *** 만약 위의 명령을 쳤는데 config --global 나오면
#     해당 명령으로 email 주소와 name을 등록하면 된다.
#     git config --global user.name "git 이름 및 별명"
#     git config --global user.email "깃 가입시 사용한 이메일 주소"

In [1]:
!python --version

Python 3.7.6

In [2]:
python get-pip.py

SyntaxError: invalid syntax (<ipython-input-2-9e7ee2471e0c>, line 1)

In [13]:
!head ~/proj/Applied-Deep-Learning-with-Keras/Lesson01/data/bank.csv

"age";"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"
30;"unemployed";"married";"primary";"no";1787;"no";"no";"cellular";19;"oct";79;1;-1;0;"unknown";"no"
33;"services";"married";"secondary";"no";4789;"yes";"yes";"cellular";11;"may";220;1;339;4;"failure";"no"
35;"management";"single";"tertiary";"no";1350;"yes";"no";"cellular";16;"apr";185;1;330;1;"failure";"no"
30;"management";"married";"tertiary";"no";1476;"yes";"yes";"unknown";3;"jun";199;4;-1;0;"unknown";"no"
59;"blue-collar";"married";"secondary";"no";0;"yes";"no";"unknown";5;"may";226;1;-1;0;"unknown";"no"
35;"management";"single";"tertiary";"no";747;"no";"no";"cellular";23;"feb";141;2;176;3;"failure";"no"
36;"self-employed";"married";"tertiary";"no";307;"yes";"no";"cellular";14;"may";341;1;330;2;"other";"no"
39;"technician";"married";"secondary";"no";147;"yes";"no";"cellular";6;"may";151;2;-1;0;"unknown";"no"
41;"entrepreneur";"married";"tertiary";"no";221;"yes";"no";"unknown";14;"may";57;2;-1;0;"unknown";"no"

In [28]:
import pandas as pd
bank_data = pd.read_csv('~/proj/Applied-Deep-Learning-with-Keras/Lesson01/data/bank.csv',sep=';')

In [31]:
#bank_data.head(10)
bank_data.tail(10)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
4511,46,blue-collar,married,secondary,no,668,yes,no,unknown,15,may,1263,2,-1,0,unknown,yes
4512,40,blue-collar,married,secondary,no,1100,yes,no,unknown,29,may,660,2,-1,0,unknown,no
4513,49,blue-collar,married,secondary,no,322,no,no,cellular,14,aug,356,2,-1,0,unknown,no
4514,38,blue-collar,married,secondary,no,1205,yes,no,cellular,20,apr,45,4,153,1,failure,no
4515,32,services,single,secondary,no,473,yes,no,cellular,7,jul,624,5,-1,0,unknown,no
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [30]:
!pwd

/home/bitai/proj/cjdtkseh